<style>
html {
     background: url("./images/daniel-vogel-NUD6cWNdBv8-unsplash.jpg");

}
</style>

<h1 class="login-title">LOGIN</h1>
<p>&nbsp;</p>
<form class="login-form" action="/" method="POST">
    <label class="input-login">Email Address
        <input type="text" aria-placeholder="Email Address" name="email">
    </label>
    <label class="input-login">Password
        <input type="password" aria-placeholder="Password" name="password">
    </label>
    <button type="submit">Login</button>
</form>
