<table class="table">
    <thead>
        <tr>
            <th>Buyers</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        ${userData.map(user => `
            <tr>
                <td><a href="./rep/${user.id}" style="text-transform: capitalize;">${user.first_name} ${user.last_name}</a>
                    
                </td>
                <td style="text-transform: capitalize;">${user.company}</td>
            </tr>
            `).join('')}
    </tbody>
</table>