
<table class="table">
        <thead>
            <tr>
                <th>Producer</th>
                <th>Varietals</th>
                <th>Region</th>
                <th>Country</th>
                <th>Vintage</th>
                <th>Add Wine</th>
            </tr>
        </thead>
        <tbody>
        ${wineData.map(wine => `
            <tr>
                <form action="/masterList/${wine.id}" method="POST"> 
                    <td>${wine.producer}</td> 
                    <td>${wine.varietals}</td> 
                    <td>${wine.region}</td> 
                    <td>${wine.country}</td> 
                    <td>${wine.year}</td>
                    <td><input type = "text" list = "list_type" name="list_type" placeholder="Add or Need"> 
                        <datalist id = "list_type">
                          <option value = "Have">
                          <option value = "Need">
                        </datalist></td>
                        <td><input type="submit" value="Add Wine" name="add"></input></td>
                </form>
            </tr>
        `).join('')}
        </tbody>
    </table>

 
        


