<article class="message">
    <div class="message-body">
        Add wines to your inventory or pick wines that are similar to what you need for your wine list... 
    </div>
</article> 

<table class="table">
        <thead>
            <tr>
                <th>Producer</th>
                <th>Varietals</th>
                <th>Region</th>
                <th>Country</th>
                <th>Vintage</th>
                ${!!is_logged_in && role == 'rep' ? ` ` : `
                <th>Select</th>
                <th>Add</th>
                `}
            </tr>
        </thead>
        <tbody>
        ${wineData.map(wine => `
            <tr>
                <form action="/masterList/${wine.id}" method="POST"> 
                    <td>${wine.producer}</td> 
                    <td>${wine.varietals}</td> 
                    <td>${wine.region}</td> 
                    <td>${wine.country}</td> 
                    <td>${wine.year}</td>
                    ${is_logged_in && role == 'rep' ? ` ` : `
                    <td>
                        <select name="list_type">
                            <option value="Have">Have</option>
                            <option value="Need">Need</option>
                        </select>
                    </td>
                    
                            
                    <td><input type="submit" value="Add" name="add"></input></td>

                </form>
                `}
            </tr>
        `).join('')}
        </tbody>
    </table>

 
        


