<form action='/signup' method='POST' class="signup">
    <label> First Name 
        <input type="text" aria-placeholder="First Name" name="first_name">
    </label>

    <label>
        Last Name
        <input type="text" aria-placeholder="Last Name" name="last_name">
    </label>

    <label>
        Company
        <input type="text" aria-placeholder="Company" name="company">
    </label>

    <label>
        Email
        <input type="text" aria-placeholder="Email" name="email">
    </label>

    <label>
        Password
    <input type="password" aria-placeholder="Password" name="password">
    </label>
      <input type = "text" list = "role" name="role" placeholder="Rep or Buyer?"> 
      <datalist id = "role">
        <option value = "rep">
        <option value = "buyer">
      </datalist>

    <button type="submit">Submit</button>
</form>