<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vine Book | ${title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        
<html class="has-navbar-fixed-top">
<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../images/DugkJmgi5C5SZfr4E9Wt0F6EQ.png" alt="Wine Bottle" width="38" height="28">
    </a>
    <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div id="" class="navbar-menu">
        <div class="navbar-start">
          ${!!is_logged_in ? `
          <a class="navbar-item" href="/masterlist">
            Master List
          </a>
          ` : `
          <a class="navbar-item" href="/">
            Master List
          </a>
          `}
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            ${!!is_logged_in && role == 'buyer' ? `
            <a class="bd-tw-button button" href="/buyerlist/user_id">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
    
                <span style="text-transform: capitalize;">${first_name}'s Wine List</span>
                ` : !!is_logged_in && role == 'rep' ? `
                <a class="bd-tw-button button" href="/rep">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
        
                    <span style="text-transform: capitalize;">${first_name}'s Clients</span>
                ` : `
                <a class="bd-tw-button button" href="/signup">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
              <span>
                Sign Up
              </span>
              `}
            </a>
          </p>
          <p class="control">
              ${!!is_logged_in ? `
                <a class="button is-dark" href="/logout">
                  <span class="icon">
                  </span>
              <span>Logout</span>
              ` : `
              <a class="button is-dark" href="/">
                <span class="icon">
                </span>
              <span>Login</span>
              `}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

        <main class="container">${partial}</main>
    </body>
</html>