html {
  background: rgb(14,0,4);
  background: linear-gradient(90deg, rgba(14,0,4,1) 0%, rgba(74,54,59,1) 35%);
  background-size: cover;
}

body {
  padding: 10px; 
  font: 14px;
  font-family: 'Playfair Display', serif;
  color: #85838D; 
  
}

a {
  color: #00B7FF;
}

.table {
  background-color: transparent;
  color: #85838D; 
}

.table thead th { 
  color: #85838D; 
}

.navbar {
  background: #010101; 
}

.signup {
  display:flex; 
  flex-direction:column; 
  justify-content: center;
  align-items: center; 
  padding: 20px; 
}